
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout2</title>
</head>
<body>
    @RenderBody()      @* Layout olması için mutlaka tanımlı olmalı*@
</body>
</html>
