@model Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<h4>New Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
@*        <form asp-action="Create" method="get">*@
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" name="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" name="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" name="Description" class="form-control" />
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

