
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<h1>Contact</h1>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function(){
            alert("jquery çalıştı");
        })
    
    </script>
}
@section phone {
    <div class="alert alert-primary" role="alert">
        <p><b>Bright Ltd. Şti. Tel : <em>0212 567 88 00</em> </b></p>
    </div>
}

